body{
  background-color:dodgerblue;
}
/* ----------main background css ------------- */
.ReturnButton {
color: #462132;
}

.PictureTitles{
  color: #fcac07;
}

nav {
display: flex;
width: 100%;
justify-content: flex-end;
align-items: center;
background: coral;
height: 5%;
}

nav a {
margin-right: 2%;
color: white;
text-decoration: none;
font-size: 18px;
}

/* ------------- individual picture page ------------- */
.OriginalPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.DifferentPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;

}

.pictureHolder {
position:relative;
background: tan;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
}

.pictureHolderButton {
position:relative;
background: tan;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
font-size: 30px;

}

/* ----------main background css ------------- */
.ReturnButton {
color: #462132;
}

.PictureTitles{
  color: #fcac07;
}

nav {
display: flex;
width: 100%;
justify-content: flex-end;
align-items: center;
background: coral;
height: 5%;
}

nav a {
margin-right: 2%;
color: white;
text-decoration: none;
}

/* ------------- individual picture page ------------- */
.OriginalPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.DifferentPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.mainLogo {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  background: #312450;
  font-size: 20px;
  color: yellow;
}

.returnButton{
background: orange;
}

/* .bottomMarker{
height: 50px;
background: darkslategrey;
width: 100%;
opacity: 75%;
} */

.banner{
color: orange;
}

.greenE{
color: orangered;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
}


.pictures{
max-width:25%;
max-height: 25%;
margin-left: 2%;
}

.pictureHolder {
position:relative;
background: grey;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
}

.mainLogo {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  background: #312450;
  font-size: 20px;
  color: yellow;
}

.returnButton{
background: orange;
}

#leaveButton{
  left: 90%;
  background: blue;
}

.bottomMarker{
background: tan;
/* width: 75%; */
left: 50%;
/* margin-right: 0%; */
/* left: 50%; */
opacity: 75%;

}

.banner{
color: orange;
}

.greenE{
color: orangered;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
}


.pictures{
max-width:25%;
max-height: 25%;
margin-left: 2%;
}
/* Change class name in picture.js to resize images */

.LevelOneTitle {
background: green;
}

.LevelTbuttonwoTitle{
color: slategray;
}

.menuTitles {
  color:#092ADB;
}

.coverArt {
  max-width: 45%;
  max-height: 45%;
}

.mainLogoRight {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  margin-top: 15%;
  margin-left: 80%;
  font-size: 20px;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

.myFormField{
  background-color: chartreuse;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.instructions {
  color:palevioletred;
  font-size: 26px;
  width:fit-content;
  background-color: #fcac07;
}

a {
  border: 3px solid yellow;
}

/* #picture1{
  position:absolute;
} */

/* #five{
  position:absolute;
  top: 380;
  left:431;
  bottom: 405;
  right: 454;
  border: 3px solid purple;
} */

#image1{
  background-image: url(./assets/originals/smallTown.jpg) ;
  height: 480px;
  width: 623px;
  border: 3px solid red;
  position: relative;
}

#image2{
  background-image: url(./assets/originals/smallTown-different.jpg) ;
  height: 480px;
  width: 623px;
  border: 3px solid red;
  position: relative;
}
/* --------------button1 css-------------- */
#apples {
  border: 3px none;
  position: absolute;
  left: 60%;
  top: 87%;
  height: 9%;
  width: 5%;
  background: none;
}

#found1{
  border: 3px solid purple;
  position: absolute;
  left: 60%;
  top: 87%;
  height:9%;
  width: 5%;
  background: none;
}
/* --------------button2 css-------------- */
#pickles{
  border: 3px none;
  position: absolute;
  left: 23%;
  top: 12%;
  height:12%;
  width: 8%;
  background: none;
}

#found2{
  border: 3px solid green;
  position: absolute;
  left: 57%;
  top: 16%;
  height:17%;
  width: 8%;
  background: none;
}
/* --------------button3 css-------------- */

#found3{
  border: 3px solid hotpink;
  position: absolute;
  left: 0%;
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
  /* 7,190,59,258 */
}

#sidewalks{
  border: 3px none;
  position: absolute;
  left: 0%;  
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
  /* 7,190,59,258 */
}

/* --------------button4 css-------------- */

#popcorn{
  border: 3px none;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
  /* 7,190,59,258 */
}

#found4{
  border: 3px solid red;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
  /* 7,190,59,258 */
}

/* --------------button5 css-------------- */

#popcorn{
  border: 3px none;
  position: absolute;
  left: 32%;
  top: 45%;
  height:10%;
  width: 8%;
  background: none;
  /* 7,190,59,258 */
}

#found5{
  border: 3px solid grey;
  position: absolute;
  left: 37%;
  top: 30%;
  height:15%;
  width: 8%;
  background: none;
  /* 7,190,59,258 */
}


