body{
  background-color:dodgerblue;
}
/* ----------main background css ------------- */
.ReturnButton {
color: #462132;
}

.PictureTitles{
  color: #fcac07;
}

nav {
display: flex;
width: 100%;
justify-content: flex-end;
align-items: center;
background: coral;
height: 5%;
}

nav a {
margin-right: 2%;
color: white;
text-decoration: none;
font-size: 18px;
}

/* ------------- individual picture page ------------- */
.OriginalPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.DifferentPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;

}

.pictureHolder {
position:relative;
background: tan;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
}

.pictureHolderButton {
position:relative;
background: tan;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
font-size: 30px;

}

/* ----------main background css ------------- */
.ReturnButton {
color: #462132;
}

.PictureTitles{
  color: #fcac07;
}

nav {
display: flex;
width: 100%;
justify-content: flex-end;
align-items: center;
background: coral;
height: 5%;
}

nav a {
margin-right: 2%;
color: white;
text-decoration: none;
}

/* ------------- individual picture page ------------- */
.OriginalPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.DifferentPicHolder{
width: 50%;
/* height: 300px; only for demonstration, should be removed */
background: #ccc;
padding: 20px;
border-style: groove;
border-color: crimson;
}

.mainLogo {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  background: #312450;
  font-size: 20px;
  color: yellow;
}

.returnButton{
background: orange;
}

/* .bottomMarker{
height: 50px;
background: darkslategrey;
width: 100%;
opacity: 75%;
} */

.banner{
color: orange;
}

.greenE{
color: orangered;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
}


.pictures{
max-width:25%;
max-height: 25%;
margin-left: 2%;
border: 2px solid #C4B11F;
}

.pictureHolder {
position:relative;
background: grey;
height: auto;
width: auto;
margin-right: 10px;
margin-left: 10%;
}

.mainLogo {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  background: #312450;
  font-size: 20px;
  color: yellow;
}

.returnButton{
background: orange;
}

#leaveButton{
  left: 90%;
  /* background: blue; */
}

.bottomMarker{
background: tan;
/* width: 75%; */
left: 50%;
/* margin-right: 0%; */
/* left: 50%; */
opacity: 75%;

}

.banner{
color: orange;
}

.greenE{
color: orangered;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
}


.pictures{
max-width:25%;
max-height: 25%;
margin-left: 2%;
}
/* Change class name in picture.js to resize images */

.LevelOneTitle {
background: green;
}

.LevelTbuttonwoTitle{
color: slategray;
}

.menuTitles {
  color:#092ADB;
}

.coverArt {
  max-width: 45%;
  max-height: 45%;
}

.mainLogoRight {
  position: fixed;
  font-family: cursive;
  width: 15%;
  height: 100v;
  margin-top: 15%;
  margin-left: 80%;
  font-size: 20px;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

.myFormField{
  background-color: chartreuse;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.instructions {
  color:palevioletred;
  font-size: 26px;
  width:fit-content;
  background-color: #fcac07;
}

.returnHome {
  border: 3px solid yellow;
}

/* #picture1{
  position:absolute;
} */

/* #five{
  position:absolute;
  top: 380;
  left:431;
  bottom: 405;
  right: 454;
  border: 3px solid purple;
} */

#image1{
  background-image: url(./assets/originals/smallTown.jpg) ;
  height: 480px;
  width: 623px;
  border: 3px solid red;
  position: relative;
}

#image2{
  background-image: url(./assets/originals/smallTown-different.jpg) ;
  height: 480px;
  width: 623px;
  border: 3px solid red;
  position: relative;
}

/* -----------------------------original set-------------------------- */
/* --------------button1 css-------------- */
#apples {
  border: 3px none;
  position: absolute;
  left: 60%;
  top: 87%;
  height: 9%;
  width: 5%;
  background: none;
}

#found1{
  border: 3px solid purple;
  position: absolute;
  left: 60%;
  top: 87%;
  height:9%;
  width: 5%;
  background: none;
}
/* --------------button2 css-------------- */
#pickles{
  border: 3px none;
  position: absolute;
  left: 57%;
  top: 16%;
  height:17%;
  width: 8%;
  background: none;
}

#found2{
  border: 3px solid green;
  position: absolute;
  left: 57%;
  top: 16%;
  height:17%;
  width: 8%;
  background: none;
}
/* --------------button3 css-------------- */

#found3{
  border: 3px solid hotpink;
  position: absolute;
  left: 0%;
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
}

#sidewalks{
  border: 3px none;
  position: absolute;
  left: 0%;  
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
}

/* --------------button4 css-------------- */

#popcorn{
  border: 3px none;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
}

#found4{
  border: 3px solid red;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
}

/* --------------button5 css-------------- */

#cheesecake{
  border: 3px none;
  position: absolute;
  left: 37%;
  top: 30%;
  height:15%;
  width: 8%;
  background: none;
}

#found5{
  border: 3px solid grey;
  position: absolute;
  left: 37%;
  top: 30%;
  height:15%;
  width: 8%;
  background: none;
}
/* -------------------Different set--------------- */
/* --------------Different button1 css-------------- */

#pillow {
  border: 3px none;
  position: absolute;
  left: 60%;
  top: 87%;
  height: 9%;
  width: 5%;
  background: none;
}

#found6{
  border: 3px solid purple;
  position: absolute;
  left: 60%;
  top: 87%;
  height:9%;
  width: 5%;
  background: none;
}
/* --------------Different button2 css-------------- */
#sherbet{
  border: 3px none;
  position: absolute;
  left: 57%;
  top: 16%;
  height:17%;
  width: 8%;
  background: none;
}

#found7{
  border: 3px solid green;
  position: absolute;
  left: 57%;
  top: 16%;
  height:17%;
  width: 8%;
  background: none;
}
/* --------------Different button3 css-------------- */

#found8{
  border: 3px solid hotpink;
  position: absolute;
  left: 0%;
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
}

#ostrich{
  border: 3px none;
  position: absolute;
  left: 0%;  
  top: 38%;
  height:18%;
  width: 9%;
  background: none;
}

/* --------------Different button4 css-------------- */

#marmalade{
  border: 3px none;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
}

#found9{
  border: 3px solid red;
  position: absolute;
  left: 74.5%;
  top: 52%;
  height:10%;
  width: 8%;
  background: none;
}

/* --------------Different button5 css-------------- */

#snorkel{
  border: 3px none;
  position: absolute;
  left: 37%;
  top: 30%;
  height:15%;
  width: 8%;
  background: none;
}

#found10{
  border: 3px solid grey;
  position: absolute;
  left: 37%;
  top: 30%;
  height:15%;
  width: 8%;
  background: none;
}
/* --------------------------------------------- */
#indexButton{
  color: #FF9472;
  width:fit-content;
  opacity: 75%;
  font-size: 36px;
}

/* ----------------------background images CSS-------------------------- */
#image3{
  background-image: url(./assets/originals/living-room.jpg) ;
  height: 700px;
  width: 900px;
  border: 3px solid red;
  position: relative;
}

#image4{
  background-image: url(./assets/originals/living-room-different.jpg) ;
  height: 700px;
  width: 900px;
  border: 3px solid red;
  position: relative;
}
/* --------------------living room------------------- */
#ablaze{
  border: 3px none;
  position: absolute;
  left: 51%;
  top: 30%;
  height:27%;
  width: 12%;
  background: none;
}

#found12{
  border: 3px solid #6EFF15;
    position: absolute;
    left: 51%;
    top: 30%;
    height:27%;
    width: 12%;
    background: none;
  }
  #twig{
    border: 3px none;
    position: absolute;
    left: 51%;
    top: 30%;
    height:27%;
    width: 12%;
    background: none;
  }
  
  #found17{
    border: 3px solid #6EFF15;
      position: absolute;
      left: 51%;
      top: 30%;
      height:27%;
      width: 12%;
      background: none;
    }
    /* --------------------2------------- */
    #purring{
      border: 3px none;
      position: absolute;
      left: 74%;
      top: 29%;
      height:8%;
      width: 8%;
      background: none;
    }
    #found14{
      border: 3px solid #FA2206;
      position: absolute;
      left: 74%;
      top: 29%;
      height:8%;
      width: 8%;
      background: none;
    }
    #twig{
      border: 3px none;
      position: absolute;
      left: 74%;
      top: 29%;
      height:8%;
      width: 8%;
      background: none;
    }
    #found19{
      border: 3px solid #FA2206;
      position: absolute;
      left: 74%;
      top: 29%;
      height:8%;
      width: 8%;
      background: none;
    }
/* ------------------3------------------------ */
#provide{
  border: 4px none;
  position: absolute;
  left: 52%;
  top: 84%;
  height:12%;
  width: 25%;
  background: none;
}
#found13{
  border: 4px solid sandybrown;
  position: absolute;
  left: 52%;
  top: 84%;
  height:12%;
  width: 25%;
  background: none;
}
#answer{
  border: 4px none;
  position: absolute;
  left: 52%;
  top: 84%;
  height:12%;
  width: 25%;
  background: none;
}
#found18{
  border: 4px solid sandybrown;
  position: absolute;
  left: 52%;
  top: 84%;
  height:12%;
  width: 25%;
  background: none;
}
/* -----------------------4----------------- */

#glossy{
  border: 4px none;
  position: absolute;
  left: 47%;
  top: 60%;
  height:12%;
  width: 12%;
  background: none;
}
#found15{
  border: 4px solid rgb(65, 32, 3);
  position: absolute;
  left: 47%;
  top: 60%;
  height:12%;
  width: 12%;
  background: none;
}
#coal{
  border: 4px none;
  position: absolute;
  left: 47%;
  top: 60%;
  height:12%;
  width: 12%;
  background: none;
}
#found20{
  border: 4px solid rgb(65, 32, 3);
  position: absolute;
  left: 47%;
  top: 60%;
  height:12%;
  width: 12%;
  background: none;
}
/* ------------------5------------------- */
#camp{
  border: 4px none;
  position: absolute;
  left: 0%;
  top: 75%;
  height:12%;
  width: 12%;
  background: none;
}

#found11{
  border: 4px solid #3735FA;
  position: absolute;
  left: 0%;
  top: 75%;
  height:12%;
  width: 12%;
  background: none;
}
#raspy{
  border: 4px none;
  position: absolute;
  left: 0%;
  top: 75%;
  height:12%;
  width: 12%;
  background: none;
}

#found16{
  border: 4px solid #3735FA;
  position: absolute;
  left: 0%;
  top: 75%;
  height:12%;
  width: 12%;
  background: none;
}
/* ----------------------picture 3---------------- */

#image5{
  background-image: url(./assets/originals/logosUS.jpg) ;
  height: 775px;
  width: 1275px;
  border: 3px solid red;
  position: relative;
}

#image6{
  background-image: url(./assets/originals/logosUS-different.jpg) ;
  height: 775px;
  width: 1275px;
  border: 3px solid red;
  position: relative;
}

/* ---------------------------3----------------------- */

#muddle{
  border: 4px none;
  position: absolute;
  left: 7%;
  top: 36%;
  height:12%;
  width: 12%;
  background: none;
  border-radius: 15%;
}
#found22{
  border: 4px solid #FA1212;
  position: absolute;
  left: 7%;
  top: 36%;
  height:12%;
  width: 12%;
  background: none;
  border-radius: 15%;
}
#breezy{
  border: 4px none;
  position: absolute;
  left: 7%;
  top: 36%;
  height:12%;
  width: 12%;
  background: none;
  border-radius: 15%;
}
#found27{
  border: 4px solid #FA1212;
  position: absolute;
  left: 7%;
  top: 36%;
  height:12%;
  width: 12%;
  background: none;
  border-radius: 15%;
}
/* --------------------2-------------- */
#consist{
  border: 4px none;
  position: absolute;
  left: 41.5%;
  top: 69%;
  height:12%;
  width: 7%;
  background: none;
  border-radius: 15%;
}
#found24{
  border: 4px solid #0011AD;
  position: absolute;
  left: 41.5%;
  top: 69%;
  height:12%;
  width: 7%;
  background: none;
  border-radius: 15%;
}
#water{
  border: 4px none;
  position: absolute;
  left: 41.5%;
  top: 69%;
  height:12%;
  width: 7%;
  background: none;
  border-radius: 15%;
}
#found29{
  border: 4px solid #0011AD;
  position: absolute;
  left: 41.5%;
  top: 69%;
  height:12%;
  width: 7%;
  background: none;
  border-radius: 15%;
}
/* ------------------------3---------------------- */
#simple{
  border: 4px none;
  position: absolute;
  left: 20%;
  top: 82%;
  height:5%;
  width: 5%;
  background: none;
  border-radius: 15%;
}
#found23{
  border: 4px solid #E8FF19;
  position: absolute;
  left: 20%;
  top: 82%;
  height:5%;
  width: 5%;
  background: none;
  border-radius: 15%;
}
#moldy{
  border: 4px none;
  position: absolute;
  left: 20%;
  top: 82%;
  height:5%;
  width: 5%;
  background: none;
  border-radius: 15%;
}
#found28{
  border: 4px solid #E8FF19;
  position: absolute;
  left: 20%;
  top: 82%;
  height:5%;
  width: 5%;
  background: none;
  border-radius: 15%;
}
/* -----------------------------4---------------------- */
#pets{
  border: 7px none;
  position: absolute;
  left: 2%;
  top: 11%;
  height:20%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#found25{
  border: 7px solid #D10AB7;
  position: absolute;
  left: 2%;
  top: 11%;
  height:20%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#thread{
  border: 7px none;
  position: absolute;
  left: 2%;
  top: 11%;
  height:20%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#found30{
  border: 7px solid #D10AB7;
  position: absolute;
  left: 2%;
  top: 11%;
  height:20%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
/* -------------------------5------------------- */

#rapid{
  border: 7px none;
  position: absolute;
  left: 79%;
  top: 45%;
  height:10%;
  width: 10%;
  background: none;
  border-radius: 15%;
}
#found21{
  border: 7px solid #19FFEE;
  position: absolute;
  left: 79%;
  top: 45%;
  height:10%;
  width: 10%;
  background: none;
  border-radius: 15%;
}
#sprout{
  border: 7px none;
  position: absolute;
  left: 79%;
  top: 45%;
  height:10%;
  width: 10%;
  background: none;
  border-radius: 15%;
}
#found26{
  border: 7px solid #19FFEE;
  position: absolute;
  left: 79%;
  top: 45%;
  height:10%;
  width: 10%;
  background: none;
  border-radius: 15%;
}
/* --------------------------picture 4------------------------ */

#image7{
  background-image: url(./assets/originals/garfield.jpg) ;
  height: 390px;
  width: 600px;
  border: 3px solid red;
  position: relative;
}

#image8{
  background-image: url(./assets/originals/garfield-different.jpg) ;
  height: 390px;
  width: 600px;
  border: 3px solid red;
  position: relative;
}
/* -----------------1---------------------------- */
#control{
  border: 7px none;
  position: absolute;
  left: 85%;
  top: 42%;
  height:14%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#found32{
  border: 7px solid #E7FF6E;
  position: absolute;
  left: 85%;
  top: 42%;
  height:14%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#potato{
  border: 7px none;
  position: absolute;
  left: 85%;
  top: 42%;
  height:14%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
#found37{
  border: 7px solid #E7FF6E;
  position: absolute;
  left: 85%;
  top: 42%;
  height:14%;
  width: 15%;
  background: none;
  border-radius: 15%;
}
/* --------------------2----------------- */
#lumber{
  border: 7px none;
  position: absolute;
  left: 11%;
  top: 20%;
  height:14%;
  width: 9%;
  background: none;
  border-radius: 15%;
}
#found34{
  border: 7px solid #ff6e92;
  position: absolute;
  left: 11%;
  top: 20%;
  height:14%;
  width: 9%;
  background: none;
  border-radius: 15%;
}
#abroad{
  border: 7px none;
  position: absolute;
  left: 11%;
  top: 20%;
  height:14%;
  width: 9%;
  background: none;
  border-radius: 15%;
}
#found39{
  border: 7px solid #ff6e92;
  position: absolute;
  left: 11%;
  top: 20%;
  height:14%;
  width: 9%;
  background: none;
  border-radius: 15%;
}
/* --------------------------3---------------- */
#whistle{
  border: 7px none;
  position: absolute;
  left: 3%;
  top: 57%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found33{
  border: 7px solid #28d83f;
  position: absolute;
  left: 3%;
  top: 57%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}#brainy{
  border: 7px none;
  position: absolute;
  left: 3%;
  top: 57%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found38{
  border: 7px solid #28d83f;
  position: absolute;
  left: 3%;
  top: 57%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
/* ------------------4------------------ */
#rabbit{
  border: 7px none;
  position: absolute;
  left: 55%;
  top: 30%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found35{
  border: 7px solid #ee9208;
  position: absolute;
  left: 55%;
  top: 30%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
/* ------------------4------------------ */
#quill{
  border: 7px none;
  position: absolute;
  left: 55%;
  top: 30%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found40{
  border: 7px solid #ee9208;
  position: absolute;
  left: 55%;
  top: 30%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
/* -----------------5------------------- */
#bells{
  border: 7px none;
  position: absolute;
  left: 6%;
  top: 80%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found31{
  border: 7px solid #a02fcc;
  position: absolute;
  left: 6%;
  top: 80%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#horse{
  border: 7px none;
  position: absolute;
  left: 6%;
  top: 80%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}
#found36{
  border: 7px solid #a02fcc;
  position: absolute;
  left: 6%;
  top: 80%;
  height:15%;
  width: 15%;
  background: none;
  border-radius: 10%;
}


#FrontOriginal{
  background-color: indigo;
  height:50px;
  width: 50px;
  color: tan;
  font-size: 18px;
  border-radius: 59%;
}

