/* ----------pics 2 set---------------
#ablaze{
    border: 3px none;
    position: absolute;
    left: 37%;
    top: 30%;
    height:15%;
    width: 8%;
    background: none;
  }
  
  #found12{
    border: 3px solid #6EFF15;
      position: absolute;
      left: 51%;
      top: 30%;
      height:27%;
      width: 12%;
      background: none;
    }
#twig{
    border: 3px none;
    position: absolute;
    left: 37%;
    top: 30%;
    height:15%;
    width: 8%;
    background: none;
  }
  
  #found17{
    border: 3px solid #6EFF15;
      position: absolute;
      left: 51%;
      top: 30%;
      height:27%;
      width: 12%;
      background: none;
    }

    
   */